* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Monteserrat; sans-serif;
}
.header{
    position: absolute;
    /* background-color:#0073b1; */
    /* background-size: cover; */
    padding: 0% 10% 10%;
    margin: auto;
    z-index: 1;
    text-align: center;
    max-width:100%;
}
h1 {
    /* position: absolute; */
    /* float: center; */
    /* top: 2%;
    left: 5%; */
    /* background-color: blue; */
    /* padding: 15px 40px 60px 80px; */

}

h4 {
    /* position: absolute; */
    /* float: center;
    top: 10%;
    left: 5% ; */

}

#loading {
    /* position: absolute; */
    /* float: center; */
    /* top: 15%;
    left: 10% ; */
}

#foto {
    /* position: absolute; */
    width: 200px;
    border: 2px;
    top:25%;
    left: 5%;
    z-index: 2;
      }